<div id="narrow" class="demo-card-container">
  <div *ngFor="let data of response">
    <mat-card class="example-card">
        <mat-card-header>
          <mat-icon>more_vert</mat-icon>
          <div mat-card-avatar class="example-header-image"></div>
          <mat-card-title>Name: {{ data.name }}</mat-card-title>
          <mat-card-subtitle>Rating : {{ data.rating }}</mat-card-subtitle>
          <mat-card-actions>
              <button mat-button>Get Direction</button>
              </mat-card-actions>
        </mat-card-header>
      </mat-card>


      
  </div><br><br>
</div>
<md-card md-theme-watch>
    <md-card-title>
      <md-card-title-text>
        <span class="md-headline">Card with image</span>
        <span class="md-subhead">Extra Large</span>
      </md-card-title-text>
    </md-card-title>
    <md-card-content layout="row" layout-align="space-between">
      <div class="md-media-xl card-media"></div>

      <md-card-actions layout="column">
        <md-button class="md-icon-button" aria-label="Favorite">
          <md-icon md-svg-icon="img/icons/favorite.svg"></md-icon>
        </md-button>
        <md-button class="md-icon-button" aria-label="Settings">
          <md-icon md-svg-icon="img/icons/menu.svg"></md-icon>
        </md-button>
        <md-button class="md-icon-button" aria-label="Share">
          <md-icon md-svg-icon="img/icons/share-arrow.svg"></md-icon>
        </md-button>
      </md-card-actions>
    </md-card-content>
  </md-card>