<div id="narrow">
  <div *ngFor="let data of dataService.response">
    <mat-card class="example-card">
      <div class="mat-cards" (click)="MoreInfo(data.placeID)">

        <div>
          <div *ngIf=data.image>
            <img mat-card-image src={{data.image}}>
          </div>
          <div *ngIf=!data.image>
            <img mat-card-image src="../src/assets/images/404notfound.jpg">
          </div>
        </div>
        <div class="content">
          <div><h4>{{ data.name }}</h4></div>
          <div *ngIf=data.rating>
            <div class="stars-align">
              <div *ngFor="let in of counter(data.rating)">
                <img class="stars" src="../src/assets/images/star.jpg">
              </div>
            </div>
          </div>
          <div *ngIf="data.openClosedStatus">
            <h5>Open Now</h5>
          </div>
          <div *ngIf="!data.openClosedStatus">
            <h5>Closed</h5>
          </div><br>
          <mat-chip-list class="mat-chip-list-wrapper">
            <mat-chip (click)="dataService.getDirection(data.latitude,data.longitude)">GetDirection</mat-chip>
            <button mat-mini-fab><mat-icon>arrow_right_alt</mat-icon></button>
          </mat-chip-list>
        </div>
      </div>
    </mat-card>
  </div>
  </div>

