
  
.example-card{
  width: 96%;
  margin-left: 2%;
  margin-top:2%;
  }
  .mat-cards{
    display:flex;
    flex-wrap: nowrap;
    flex-direction:row;
    justify-content: left; 
  }
  img{
    width:9em;
    height:9em;
    padding:1em;
  }
  .mat-card{
    padding:0px;
    height: 20%;
  }  
  .mat-card-image:first-child{
    margin-top: 0px;
  }
  .mat-card-image{
    margin: 0%;
  }
  .name-card{
    display: flex;
    flex-wrap: wrap;
  }
  .content{
    margin-top: 6%;
  }
  .stars{
    width:1.5vh;
    height:1.5vh;
  }
  .stars-align{
    display: flex;
    flex-direction: row;
    justify-content: center;
  }
  .img-set{
    align-self: center;
    justify-content: right;
    align-content: center;
  }
