agm-map {
  height: 85vh;
}


:host:hover {
  background: #ddd;
}
.place-image {
  width: 200px;
}
.loader{
  width: 100px;
}
@media only screen and (max-width: 1200px)
{
  agm-map{
    width: 100%;
    height:90vh;
   }
}


@media only screen and (max-width: 959px) {

  agm-map{
    width: 100%;
    height: 50vh;
    
   }
}
