<div>
    <mat-toolbar color="primary">
        <mat-toolbar-row>
            <button mat-icon-button (click)="sidenav.toggle()" fxShow="true" fxHide.gt-sm>
              <mat-icon>menu</mat-icon>
            </button>
            <span>Let's Explore</span>
            <span class="menu-spacer"></span>
            </mat-toolbar-row>
      </mat-toolbar>
</div>
<div fxHide="true" fxShow.gt-sm>
    <mat-toolbar>
      <mat-toolbar-row>
          <!-- The following menu items will be hidden on both SM and XS screen sizes -->
        <a [routerLink]='["/All"]' [routerLinkActive]='["link-active"]' [routerLinkActiveOptions]='{ exact: true }' mat-button>
          <span class='glyphicon glyphicon-home'></span> All
      </a>
      <a [routerLink]='["/Restaurant"]' [routerLinkActive]='["link-active"]' [routerLinkActiveOptions]='{ exact: true }' mat-button>
        <span class='glyphicon glyphicon-home'></span> Restaurant
    </a>
    <a [routerLink]='["/Store"]' [routerLinkActive]='["link-active"]' [routerLinkActiveOptions]='{ exact: true }' mat-button>
      <span class='glyphicon glyphicon-home'></span> Store
  </a>
  <span class="menu-spacer"></span>
  <button mat-raised-button>
      Set Reminder
  </button>
  </mat-toolbar-row>
  </mat-toolbar>
</div>
<div style="height: 110vh;">
  <mat-sidenav-container fxFlexFill>
  <mat-sidenav #sidenav fxShow="true" fxHide.gt-sm >
    <mat-nav-list>
      <a (click)="sidenav.toggle()" [routerLink]='["/All"]' [routerLinkActive]='["link-active"]' [routerLinkActiveOptions]='{ exact: true }' mat-list-item>
        <span class='glyphicon glyphicon-home'></span> All
    </a>
    <a (click)="sidenav.toggle()" [routerLink]='["/Restaurant"]' [routerLinkActive]='["link-active"]' [routerLinkActiveOptions]='{ exact: true }' mat-list-item>
      <span class='glyphicon glyphicon-home'></span> Restaurant
  </a>
  <a (click)="sidenav.toggle()" [routerLink]='["/Store"]' [routerLinkActive]='["link-active"]' [routerLinkActiveOptions]='{ exact: true }' mat-list-item>
    <span class='glyphicon glyphicon-home'></span> Store
</a>
<button (click)="sidenav.toggle()" mat-raised-button mat-list-item>
    Set Reminder
</button>


    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content fxFlexFill> 
      <div class="body-content">
          <router-outlet></router-outlet>
      </div>
  </mat-sidenav-content>
  </mat-sidenav-container>
</div>